@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap'); /* Montserrat, sans-serif */

#body-container {
    background-color: #121212;
    margin: 5vh 20vw 0 20vw;
    transition: opacity 2s;
    opacity: 1;
    -webkit-transition: opacity 2s; /* Safari */
}
header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3em;
    background: -webkit-linear-gradient(270deg, #121212, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0vh;
    letter-spacing: 2px;
}
nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul a {
    text-decoration: none;
    color: #aaaaaa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0 30px 0 0;
    transition: all 0.5s ease-out;
}
nav ul a:hover {
    color: #d4d4d4;
    transition: 0.5s;
    transform: translateY(.25vh);
}
#nav-links {
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    font-size: 4em;
}
#nav-links a:hover {
    color: #8685ef;
    transform: rotateZ(-1.25deg);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
#nav-socials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -27.5px;
    padding: 0;
    width: 100%;
}
#nav-back {
    position: absolute;
    left: 10vw;
    top: 5.5vh;
}
#nav-back a {
    text-decoration: none;
    background: -webkit-linear-gradient(270deg, #121212, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    scale: 200%;
    transition: 0.35s ease-out;
    opacity: 75%;
}
#nav-back a:hover {
    transition: 0.25s ease-in;
    opacity: 100%;
}
.fa-github,
.fa-linkedin-in,
.fa-discord,
.fa-angle-double-left {
    color: #BCBCBC;
}
.body-text-block {
    color: #BCBCBC;
    margin: 15vh 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.image-block {
    background-color: #151515;
    width: fit-content;
    border-radius: 2.5%;
    margin: 2.5vh 0px 0px 0px;
    padding-right: 2.5vw;
    display: flex;
    color: #BCBCBC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.image-block img { /* Scrap prolly */
    scale: 60%;
    transition: ease-in 0.5s;
}
.image-block img:hover {
    transition: ease-out 0.5s;
    scale: 80%;
}